In [2]:
import numpy as np
import pandas as pd

Series : A one-dimensional labeled array holding data of any type
DataFrame: A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns

In [3]:
s= pd.Series([1,3,5,np.nan,6,9])

In [4]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))

In [6]:
df

                   A         B         C         D
2013-01-01  1.203804 -0.328302  0.458339  1.103156
2013-01-02  0.338949 -0.871577 -3.162698 -1.026606
2013-01-03  2.010679 -0.796363  0.948650  0.744931
2013-01-04 -2.764180  0.004221  0.738141  0.655959
2013-01-05  1.073862 -0.769524 -1.812452 -0.522029
2013-01-06  0.306295  0.408263 -0.238683  0.405082

In [7]:
df2 = pd.DataFrame(
    {
        "A":5.00,
        "B":pd.Timestamp("20130102"), 
        "C":pd.Series(1,index=list(range(4)), dtype = "float32"),
        "D":np.array([3]*4, dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"]),
        "F":"Hi"
    }
)
df2

     A          B    C  D      E   F
0  5.0 2013-01-02  1.0  3   test  Hi
1  5.0 2013-01-02  1.0  3  train  Hi
2  5.0 2013-01-02  1.0  3   test  Hi
3  5.0 2013-01-02  1.0  3  train  Hi

In [8]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [9]:
df2.head()

     A          B    C  D      E   F
0  5.0 2013-01-02  1.0  3   test  Hi
1  5.0 2013-01-02  1.0  3  train  Hi
2  5.0 2013-01-02  1.0  3   test  Hi
3  5.0 2013-01-02  1.0  3  train  Hi

In [10]:
df.tail(2)

                   A         B         C         D
2013-01-05  1.073862 -0.769524 -1.812452 -0.522029
2013-01-06  0.306295  0.408263 -0.238683  0.405082

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.to_numpy()

array([[ 1.20380415, -0.32830162,  0.45833926,  1.10315556],
       [ 0.33894874, -0.87157657, -3.16269753, -1.02660588],
       [ 2.01067912, -0.79636346,  0.94864989,  0.74493078],
       [-2.7641796 ,  0.00422089,  0.73814051,  0.6559594 ],
       [ 1.07386154, -0.76952448, -1.81245177, -0.52202879],
       [ 0.30629509,  0.40826332, -0.23868255,  0.40508182]])

In [13]:
df2.to_numpy()

array([[5.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'Hi'],
       [5.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'Hi'],
       [5.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'Hi'],
       [5.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'Hi']],
      dtype=object)

In [14]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.203804    0.338949    2.010679   -2.764180    1.073862    0.306295
B   -0.328302   -0.871577   -0.796363    0.004221   -0.769524    0.408263
C    0.458339   -3.162698    0.948650    0.738141   -1.812452   -0.238683
D    1.103156   -1.026606    0.744931    0.655959   -0.522029    0.405082

In [15]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02  0.338949 -0.871577 -3.162698 -1.026606
2013-01-03  2.010679 -0.796363  0.948650  0.744931
2013-01-05  1.073862 -0.769524 -1.812452 -0.522029
2013-01-01  1.203804 -0.328302  0.458339  1.103156
2013-01-04 -2.764180  0.004221  0.738141  0.655959
2013-01-06  0.306295  0.408263 -0.238683  0.405082

In [16]:
df["A"]

2013-01-01    1.203804
2013-01-02    0.338949
2013-01-03    2.010679
2013-01-04   -2.764180
2013-01-05    1.073862
2013-01-06    0.306295
Freq: D, Name: A, dtype: float64