In [2]:
import numpy as np
import pandas as pd

Series : A one-dimensional labeled array holding data of any type
DataFrame: A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns

In [4]:
s= pd.Series([1,3,5,np.nan,6,9])

In [5]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))

In [7]:
df

                   A         B         C         D
2013-01-01  0.746573 -0.226456  0.343500  0.200404
2013-01-02  0.669021  1.061450  0.023892  0.439659
2013-01-03 -0.271656 -0.130584 -0.764649  2.133813
2013-01-04 -1.273898  0.129294 -0.791949 -1.596293
2013-01-05  1.851458  1.470712  1.473361 -2.021964
2013-01-06  0.026271  0.580174  0.507064 -1.428999

In [9]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20130102"), 
        "C":pd.Series(1,index=list(range(4)), dtype = "float32"),
        "D":np.array([3]*4, dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"]),
        "F":"Hi"
    }
    df2
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (453423442.py, line 2)